
* {
   box-sizing: border-box;
}
body, section, header, div, p, h1, h2, h3, ul, li, figure, figcaption {
   margin: 0;
   padding: 0;
}
body {
   font-family: 'Open Sans', sans-serif;
   box-sizing: border-box;
   background-color: #F0F4F8;
   font-weight: 300;
}

/* Header */
header {
  background-image: url('./images/florence.jpg');
  background-size: cover;
  min-height: 500px;
  width: 100%;
}

/* Navigation */
nav {
  background-image: url(images/logo.svg);
  background-repeat: no-repeat;
  background-size: 60px;
  background-position: 10px 5px;
  padding: 20px;
  height: 100px;
}

nav ul {
  margin-left: 80px;
}

nav li {
  display: inline-block;
  list-style-type: none;
}
/* Navigation Anchors */
nav a {
  color: #51279b;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
}

nav a:visited {
  color: #8662c7;
}

nav a:hover {
  color: #8662c7;
  text-decoration: underline;
}

/* Hero Text  */
header div {
    margin: 100px 0 0 80px;
    color: white; /* we can use the cascading nature of CSS to set the color for all the elements within the div */
}

header h2 {
  font-size: 48px;
  margin-bottom: 0.5rem;
}

header p {
  font-size: 24px;
  margin-bottom: 1.5rem;
}

/* Button styles */
header div a {
  background-color: #51279b;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

header div a:hover {
    background-color: #8662c7;
}

/* Note we can use the .card class selector here, as a class has been assigned to the <section> elements. */
.card {
  float: left;
  width: calc(33% - 10px);
  margin: 10px 5px;
  background-color: white;
}

.card div {
    padding: 20px 5px;
}

.card img {
    width: 100%;
}

.card div.description {
    font-size: 12px;
}

.card h3 {
    font-size: 14px;
}

.social {
  margin-top: 1rem;
  font-size: 12px;
}

.social span {
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 25px;
  margin-right: 10px; /* we could use use 1em here, but 10px is a bit more precise */
}

.social .heart {
  background-image: url(./images/heart.png);
}

.social .comment {
  background-image: url(./images/comment.png);
}